@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
	box-sizing: border-box;
}

body{
	background-color: whitesmoke;
	font-family: Bebas Neue, sans-serif ;
}

h1{
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
	letter-spacing: 4px;
	font-size: 300px;

}

/*Loader*/

.loader{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(225, 225, 225, 0.8);
}

.loader img{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*Image Container*/
.image-container{
	margin: 10px 30%;
}

.image-container img{
	width: 100%;
	margin-top: 15px;
}


@media screen and (max-width:  600px){
		.image-container{
				margin: 10px 5%;
	}
		.image-container img{
		width: 100%;
		margin-top: 33px;
	}
	h1{
		font-size: 50px;
		letter-spacing: 3px;
	}

}